.App {
  text-align: center;
}


.header {
  height: 100%;
  width: 100%;

  background-color: #282c34;


}
.a:hover {
  color: orange;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.movie-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px inset black;
  
}

.time {
  border: 2px solid orange;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.movie-times {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
.background {
  background-color: #282c34;
}
